<!-- Header Start --> 

<nav class="navbar navbar-expand-lg  main-nav " id="navbar">
	<div class="container">
	  <a class="navbar-brand" href="index.html">
	  	<img src="images/logo.png" alt="" class="img-fluid">
	  </a>

	  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
		<span class="ti-align-justify"></span>
	  </button>
  
		  <div class="collapse navbar-collapse" id="navbarsExample09">
			<ul class="navbar-nav ml-auto">
			  <li class="nav-item  active"><a class="nav-link" href="index.html">Home</a></li>
			  <ul class="dropdown-menu" aria-labelledby="dropdown01">
				<li><a class="dropdown-item" href="announcements.html">Announcements</a></li>
			  </ul>
			  <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="products.html" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
			  </li>

			  <li class="nav-item dropdown active">
					<a class="nav-link dropdown-toggle" href="admin.html" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin </a>
					<ul class="dropdown-menu" aria-labelledby="dropdown02">
						<li><a class="dropdown-item" href="portfolio-1.html">Add Record</a></li>
						<li><a class="dropdown-item" href="portfolio-2.html">Edit Record</a></li>
						<li><a class="dropdown-item" href="portfolio-3.html">Delete Record</a></li>
						<li><a class="dropdown-item" href="portfolio-single.html">View Records</a></li>
					</ul>
			  </li>
			   <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="login.html" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login</a>
			  </li>
			   <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
			</ul>
		</div>
	</div>
</nav>

<!-- Header Close --> 

